<%= form_for(@project) do |f| %>
	<% if @project.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created.</h4>
			<ul>
			<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<%= f.submit %>
<% end %>